@nav-height: 40px;

html {
  height: 100%
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  direction: rtl;
  .content {
    width: 100%;
    height: 100%;
    padding-top: @nav-height;
  }
}

